nav {
    background: $secondary;
    text-align: right;
    padding: 0.5rem;

    ul {
        margin: 0;
        padding: 0;
    }
}

nav li {
    text-align: right;
    display: inline-block;
    list-style: none;
    margin-left: 1rem;
}

a {
    text-decoration: none;
    &:hover {
        color: $color12;
    }
}
