/*Site colors*/
$primary: #ffff;
$secondary: #eee9e3; /*background color of header */
$quaternary: #1e1919;
$quinary: #c93e02;
$color17: #c7c2d7;
$colorLink: #551a8b;
$color12: #ec5926;

/*Site fonts*/
$bodyFont: "Space Grotesk", sans-serif;
$baseFontSize: 1rem;
$otherFont: "Londrina Solid", cursive;
